/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
}

::selection {
    color: #fff;
    background: #000000;
}

/* Estilos para los contenedores principales */
.start_btn,
.info_box,
.quiz_box,
.result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Estilos para animaciones y visibilidad de los contenedores */
.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* Estilos para el botón de inicio 
.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}
*/
/* Definir la animación para el resultado */
/* Animaciones para ng-enter y ng-leave */

.copyright {
    background-color: #ffffff;
    border: none; /* Esto quita cualquier borde que esté presente */
    padding: 10px; /* Añade un poco de espacio alrededor del texto */
    color: #000000; /* Color de texto blanco para mayor contraste */
}
.texto {
    position: fixed; /* Posición fija para que se mantenga en la pantalla al hacer scroll */
    top: 20%; /* Posición vertical en relación al viewport */
    left: 50%; /* Posición horizontal en el centro del viewport */
    transform: translateX(-50%); /* Centra horizontalmente el elemento */
    
    /* Estilos de texto */
    background: radial-gradient(ellipse at bottom, #ffffff, transparent); /* Gradiente radial */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 6vw;
    
    
    /* Animaciones */
    -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.texto2 {
    position: fixed; /* Posición fija para que se mantenga en la pantalla al hacer scroll */
    top: 7%; /* Posición vertical en relación al viewport */
    left: 50%; /* Posición horizontal en el centro del viewport */
    transform: translateX(-50%); /* Centra horizontalmente el elemento */
    
    /* Estilos de texto */
    background: radial-gradient(ellipse at bottom, #ffffff, transparent); /* Gradiente radial */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 6vw;
    
    
    /* Animaciones */
    -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
/* Keyframes para la animación reveal */
@-webkit-keyframes reveal {
    80% {
        letter-spacing: normal; /* Ajusta el espaciado de letras a normal */
    }
    100% {
        background-size: 100% 100%; /* Ajusta el tamaño del gradiente radial */
    }
}

@keyframes reveal {
    80% {
        letter-spacing: normal; /* Ajusta el espaciado de letras a normal */
    }
    100% {
        background-size: 100% 100%; /* Ajusta el tamaño del gradiente radial */
    }
}

/* Keyframes para la animación glow */
@-webkit-keyframes glow {
    40% {
        text-shadow: 0 0 5000px #170a92; /* Efecto de sombra para resaltar el texto */
    }
}

@keyframes glow {
    40% {
        text-shadow: 0 0 4px #fff; /* Efecto de sombra para resaltar el texto */
    }
}
